*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 80px;
}
h4{
    margin-top: 100px;
    text-align: center;
    font-size: 28px;
}
button{
    width: 100px;
    height: 25px;
    font-size: 20px;
    color: black;
    background-color: orange;
    border-style: none;
    border-radius: 8px;
    margin-top: 150px;
}
#plus{
    margin-left: 100px;
}
.container{
    background-color: aqua;
    width: 400px;
    height: 450px;
    margin-left: 500px;
    border-radius: 20px;
}